section.water-choice
    h3 Why our product?
    h5 What you achive with our product 
    .container
        .row.choice-step
            -
                var choiceList = [{
                        img:'/img/water-option1.png',
                        title: 'Bottled water',
                        text: 'Contains molecules of plastic',
                        class: 'w-choice-block'
                    },{
                        img:'/img/water-option2.png',
                        title: 'Enriched with minerals',
                        text: 'The closest thing to nature',
                        class: 'w-choice-block highlighted'
                    },{
                        img:'/img/water-option3.png',
                        title: 'Filtered water',
                        text: 'Dead water washes away useful minerals',
                        class: 'w-choice-block'

                    }]
            for choice in choiceList	
                .col-md-4.col-sm-4.col-xs-12
                    div(class=choice.class)
                        .choice-img
                            img(src=choice.img, alt=choice.title)
                        .choice-title= choice.title
                        .choice-descr= choice.text
        
        
                   