doctype html
html.no-js(lang="en")
	include templates/structure/head
	body
		include templates/structure/header-inner
		section.checkout
			.container
				div.row
					div.col-md-7
						h3.title.left Order information
						form.mt2
							.contact-info
								p Contact information
								.form-group
									input(type="text" value="" name="receiver" id="receiver" required placeholder="First name")
									label(for="receiver") First and last name*
								.form-group.half
									select(name="country" required id="country")
										each val,ind in ['Select country','United States']
											option(value=ind)=val
									label(for="country") Country*
								div.form-group.half
									select(name="state" required id="state")
										each val,ind in ['Select state','Alabama',' Alaska','Arizona','PHP','C#','Java','C++','Ruby']
											option(value=ind)=val
									label(for="state") State*
							.delivery-info
								p Delivery information
								.form-group
									input(type="text" value="" name="city" id="city" required placeholder="City")
									label(for="city") City*
								.form-group
									input(type="text" value="" name="address" id="address" required placeholder="Address")
									label(for="address") Address*
								.form-group.half
									input(type="text" value="" name="apt" id="apt" placeholder="Apt, suite, etc.(optional)")
									label(for="apt") Apt, suite, etc.(optional)
								.form-group.half
									input(type="text" value="" name="index" id="index" required placeholder="Postal code")
									label(for="index") Postal code*
								.form-group
									input(type="text" value="" name="company" id="company" placeholder="Company(optional)")
									label(for="company") Company(optional)
								.form-group
									input(type="text" value="" name="phone" id="phone" required placeholder="Phone")
									label(for="phone") Phone*

							.shipping-info

								-
									var shippingList = [{
										name: 'Ground Shipping',
										shortName: 'ground-ship',
										price: '5$',
										checked: false
									}, {
										name: 'FedEx 2Day',
										shortName: 'fedex-2',
										price: '12$',
										checked: true
									}, {
										name: 'FedEx Overnight',
										shortName: 'fedex-night',
										price: '16$',
										checked: false
									}]
								for shipping in shippingList	
									.form-group.shipping-choice
										.row
											.col-xs-1
												input(type="radio" name="fancy-radio" id=shipping.shortName checked=shipping.checked)
												label(for=shipping.shortName)
											.col-xs-9
												.shipping-name= shipping.name
											.col-xs-2.right
												.shipping-price= shipping.price

						.payment
							div(id="paypal-button-container")

					.col-md-5.order-list
						h3.title.left Order
						.ordered-products
							.container-fluid
								.row.w-product
									.col-xs-2
										img(src="/img/bottle-3.jpg" class="lazy")
									.col-xs-6
										.product-name Blue bottle
										.product-detail 500ml
									.col-xs-1
										.product-count 2
									.col-xs-3
										.product-price Price: 45$
								.row.w-product
									.col-xs-2
										img(src="/img/bottle-1.jpg" class="lazy")
									.col-xs-6
										.product-name Black bottle
										.product-detail 500ml
									.col-xs-1
										.product-count 1
									.col-xs-3
										.product-price Price: 45$
								
						
						.discount
							form(action="")
								.form-group
									input(type="text" id="discount" value)
									label(for="discount") Discount code
									button.btn Apply

						.order-price
							.subtotal
								.name Subtotal
								.price 100$
							.shipping
								.name Shipping
								.price -
							.total
								.name Total
								.price 110$		

										
											
		include templates/structure/footer
		include templates/structure/scripts